<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoADatos.Properties.Settings.PracticaConnectionString"
            connectionString="Data Source=DESKTOP-JGMBABN\SQLEXPRESS;Initial Catalog=Practica;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoADatos.Properties.Settings.BaseUltimaConnectionString"
            connectionString="Data Source=DESKTOP-JGMBABN\SQLEXPRESS;Initial Catalog=BaseUltima;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>